<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find motive_gazebo)/config/msa6_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
  output="screen" ns="/msa6" args="joint_state_controller joint_group_position_controller"
  launch-prefix="bash -c 'sleep 5; $0 $@'" />

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
  respawn="false" output="screen">
    <remap from="/joint_states" to="/msa6/joint_states" />
  </node>

</launch>
