<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro"
       name="msa6_on_table" >

  <!-- Import all Gazebo customization elements, including control config -->
  <xacro:include filename="$(find motive_description)/urdf/msa6_v03.gazebo" />

  <!-- load arm URDF -->
  <xacro:include filename="$(find motive_description)/urdf/msa6_v03.urdf.xacro" />
  <xacro:msa6 prefix="" />

  <!-- Attach the rest of the scene to robot base_link -->
  <joint name="table_joint" type="fixed">
    <parent link="table" />
    <child link = "base_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

  <link name="table">
    <visual>
      <geometry>
        <box size="1.80 1.70 0.25"/>
      </geometry>
        <origin rpy="0 0 0.0" xyz="0.0 0 -0.125"/>
  <material name="Gray">
    <color rgba="0.8 0.8 0.8 1.0"/>
  </material>
    </visual>
  </link>

  <link name="world" />
  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "table" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

  <joint name="ee_link_grappler_fixed_joint" type="fixed">
    <parent link="link_L6" />
    <child link="grappler" />
    <origin xyz="0 0 0.05" rpy="3.14 -1.5708 0" />
  </joint>

  <!-- end-effector -->
  <link name="grappler"/>
  <xacro:include filename="$(find mock_grappler_description)/urdf/mock_grappler.xacro" />
  <xacro:grappler prefix="" connected_to="grappler"/>

</robot>
