<?xml version="1.0"?>
<launch>
  <arg name="paused" default="true"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <!-- startup simulated world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" default="worlds/empty.world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <!-- send robot urdf to param server -->
  <param name="robot_description"
    command="$(find xacro)/xacro --inorder '$(find motive_description)/urdf/msa6_v03.urdf'" />

  <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-urdf -model msa6 -param robot_description"/>

  <!-- Load Gazebo PID gains -->
  <rosparam file="$(find motive_gazebo)/config/gazebo_pid_gains.yaml" command="load"/>

  <!-- Load ros_control controllers -->
  <include file="$(find motive_gazebo)/launch/msa6_control.launch"/>

</launch>
