<launch>

  <!-- GDB functionality -->
  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />


  <!-- Load URDF -->
  <param name="robot_description" textfile="$(find motive_description)/urdf/msa6_v03.urdf" />


  <!-- Load controller settings -->
  <rosparam file="$(find moco_control)/config/moco_controllers.yaml" command="load"/>

  <!-- Load controller manager -->
  <node name="ros_control_controller_manager" pkg="controller_manager" type="controller_manager" respawn="false"
    output="screen" args="spawn joint_state_controller position_trajectory_controller" />

  <!-- Convert joint states to /tf tranforms -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

</launch>